// Atkinson Hyperlegible
@font-face {
	font-family: "AtkinsonHyperlegible";
	src: url("/public/fonts/Atkinson-Hyperlegible-Regular-102a.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AtkinsonHyperlegible";
	src: url("/public/fonts/Atkinson-Hyperlegible-Bold-102a.woff2")
		format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "AtkinsonHyperlegible";
	src: url("/public/fonts/Atkinson-Hyperlegible-Italic-102a.woff2")
		format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "AtkinsonHyperlegible";
	src: url("/public/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
		format("woff2");
	font-weight: bold;
	font-style: italic;
}

// IMFellDWPica
@font-face {
	font-family: "IMFellDWPica";
	src: url("/public/fonts/IMFellDWPica-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

// Luminari
@font-face {
	font-family: "Luminari";
	src: url("/public/fonts/Luminari.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

// Munchkin
@font-face {
	font-family: "Munchkin";
	src: url("/public/fonts/munchkin.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
