// IMFellDWPica
@font-face {
	font-family: "IMFellDWPica"; // by Igino Marini - https://www.ikern.space/about
	src: url("/public/fonts/IMFellDWPica-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

// Munchkin
@font-face {
	font-family: "Munchkin"; // found online, license unknown - https://online-fonts.com/fonts/munchkin
	src: url("/public/fonts/munchkin.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
