<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title | safe }}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="generator" content="{{ eleventy.generator }}">

	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link rel="stylesheet" type="text/css" href="/public/css/print.css" media="print">

	<link rel="icon" href="/public/images/headicon-circle.png" type="image/x-icon">

	<link rel="stylesheet" id="style-of-the-month" type="text/css">
	<link rel="shortcut icon" href="/public/images/headicon-circle.png" type="image/x-icon">

	{# <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png"> #}
</head>

<body>

	{{ content | safe }}

	<script nomodule src="/public/js/es5bundle.main.js"></script>
	<script type="module" src="/public/js/main.js"></script>
</body>

</html>
