main {
	display: grid;
	gap: 1rem;
	grid-template-rows: auto 1fr;
}

#intro {
	margin-bottom: 1rem;
}

#wrapper {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

// form {
// 	width: 50%;
// 	flex: 0;
// }

// #output {
// 	width: 50%;
// 	flex: 0;
// }
