@import "vars";

#generated-output {
	margin: 2rem;
	padding: 2rem;
	color: #000;
	width: calc(50% - 4rem);
	text-align: center;
	background-position: left top;
	background-repeat: repeat;
	background-attachment: fixed;
	background-image: url("/public/images/texture/annie-spratt-BIn3m_DDSJE-unsplash2.jpg");
	background-size: cover;
	border: 2px solid $munchkin-text;
	border-radius: 8px;
}

#generated-output p {
	font-size: 2rem;
	line-height: 1.4;
}

.munchkin {
	font-family: $munchkin-font;
	color: $munchkin-text;
}
