p,
ul {
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 0;
}

li {
	margin-bottom: 0.5em;
}

li:last-child {
	margin-bottom: 0;
}

p,
li,
legend,
label,
input,
textarea {
	font-size: 1.5rem;
}
