@page {
	margin: 8mm;
}

body {
	text-align: center;
}

header,
form {
	display: none;
}

main {
	display: block;
	width: 100%;
	text-align: center;
	background: red;
}

#output {
	display: block;
	padding: 0;
}

#generated-output {
	width: 10cm;
	margin: auto;
	position: static;
	print-color-adjust: exact !important;
	background-attachment: initial;
	border-radius: 0;
}

#generated-output p {
	font-size: 22pt;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}
